.grid-item{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container_description{
    font-size:12px;
    height: 50%;
    width: 100%;
    border:2px solid red;

    .name{
        font-weight:bold;
    }
}

.container_picture{
    height: 50%;
    width: 100%;
    padding:10px;

    .picture{
        width: 100%;
        object-fit: cover;
        
    }
}
