.gardens_container {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding:10px;

    @media all and (min-width: 768px) {
      grid-template-columns: auto auto auto;
      grid-template-rows: repeat(5, 1fr);
    }
  }